@charset "UTF-8";

	/* 회원정보 테이블 */

/* 컨테이너 */	
#mp-container {			
		width: 400px;
		height: 500px;
        margin: 0px auto;
        padding: 20px;
        border: 1px solid #bcbcbc;
        background-color: #6200EE;
        border-radius: 1em;
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;
}
/* 컨텐츠 */
#mp-content1{			
     	width: 360px;
        padding: 20px;
        margin-bottom: 20px;
        float: left;
        border-radius: 1em;
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;
		background-color: #3700B3;
}
.a{
	
	background-color:blue;
	margin:10px;
	cursor:pointer;
}